/* 𝙼𝚊𝚒𝚗 𝙲𝚂𝚂 𝚂𝚝𝚢𝚕𝚎𝚜𝚑𝚎𝚎𝚝 */

/* ============= */
/* =========== GENERAL =========== */
/* ============= */

:root {
    --color-orange: rgb(237, 125, 49);
    --color-green: #163c49;
    --color-textgrey: #757575;
    --color-titleblack: #464646;
    --color-light: #f5f5f5;
    --font-family-main: 'Avenir', sans-serif;
    --font-family-title: 'Plus Jakarta Sans', sans-serif;
}

html {
    font-size: 14px !important;
    /*overflow-x: hidden !important;*/
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Avenir', sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden !important;
}

.outermost_wrapper {
    overflow-x: hidden !important;
}

.title-font {
    font-family: var(--font-family-title);
    color: var(--color-titleblack);
    font-size: 2.5rem;
}

.number_xl {
    font-family: 'Bakbak One', cursive;
}

a:hover {
    text-decoration: none !important;
}

a:focus, button:focus {
    outline: none !important;
    /*border: none !important;*/
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: transparent;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.001) inset, 0 0 1px rgba(255, 255, 255, 0.1);
    outline: 0 none;
}

input:disabled, input[disabled] {
    opacity: 0.5 !important;
}




/* ============= */
/* =========== NAVIGATION =========== */
/* ============= */

.nav {
    transition: 0.4s all ease-in-out;
}

.bg-light {
    z-index: 10;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #fefefe !important;
    box-shadow: 0 33px 119px rgba(0, 0, 0, 0.04);
    transition: 0.4s all ease-in-out;
}

img.nav_logo {
    display: inline-block;
    width: 15rem;
    height: 69px;
}

ul.hk_navbar {
    position: relative;
    top: 5px;
    z-index: 7;
    align-items: center;
}

li.nav-item {
    margin-right: 24px;
}

li.nav-item:nth-child(6) {
    margin-right: 18px;
}

li.nav-item a {
    font-size: 1.143rem;
    font-weight: 500;
    color: #666666;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {color: #666666;}

li.nav-item > a:after {
    content: '';
    display: block;
    height: 4px;
    position: relative;
    bottom: -28px;
    background: var(--color-orange);
    transform: scaleX(0);
    transition: transform .3s;
}
li.nav-item > a:hover:after {
    transform: scaleX(1);
    transition: transform .3s;
}
li.nav-item > a.active:after {
    color: var(--color-orange); !important;
}


button.navbtn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.hk_nav_toggler {
    position: relative;
    top: -4px;
    border: none !important;
}

.hk_nav_toggler:focus {
    box-shadow: 0 0 0 0.0rem;
}

.hk_nav_toggler > span.navbar-toggler-icon {
    transition: 0.4s all ease-in-out;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(50,89,143, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.colorfuse {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(227,190,57, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    transform: rotate(-90deg);
}

.hk_nav_toggler:not(:focus) > span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(50,89,143, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

button.nav_signin_btn {
    position: relative;
    top: -3px;
    width: 9rem;
    height: 48px;
    border: 1px solid rgba(102, 102, 102, 0.26);
    border-radius: 14px;
    background: rgba(102, 102, 102, 0.05);
    color: #666666;
    font-size: 1.143rem;
    font-weight: 500;
    transition: all 0.4s ease-in;
}

button.nav_signin_btn:hover {
    color: #ffffff;
    background: rgba(102, 102, 102, 1);
}

button.nav_getstarted_btn {
    position: relative;
    top: -3px;
    width: 10rem;
    height: 48px;
    background: var(--color-green);
    border-radius: 14px;
    color: #ffffff;
    font-size: 1.143rem;
    font-weight: 500;
    transition: all 0.4s ease-in;
}

button.nav_getstarted_btn:hover {
    color: #ffffff;
    background: #183741;
}

.nav_vertical_separator {
    display: inline-block;
    height: 70px;
    width: 70px;
    background: url("../img/v-separ.png") center center no-repeat;
    background-size: contain;
    opacity: 0.5;
}

li.nav-item:nth-child(5) {
    border-right: 1px solid #f0f0f0;
    padding-right: 20px;
}


/* Hamburger menu animation assets */
.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0;
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon1 span {background: var(--color-green);}

.animated-icon1 span:nth-child(1) {top: 0;}

.animated-icon1 span:nth-child(2) {top: 10px;}

.animated-icon1 span:nth-child(3) {top: 20px;}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
rotate(-135deg);
    transform: rotate(-135deg);
}





/* ============= */
/* =========== HEADER =========== */
/* ============= */

.hk_header_area {
    position: relative;
    min-height: 700px;
    height: auto;
    width: 100%;
}

.carousel {padding: 0;}

.hk_header_slider {
    padding: 0;
}

.hkslide {
    width: 100%;
    height: 700px;
    z-index: 1;
}

.hkslide:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
}

.h_banner_home {
    display: block;
    position: absolute;
    z-index: 4;
    height: 500px;
    width: 65%;
    top: 200px;
    left: 11%;
}

.h_banner_home h1 {
    font-family: var(--font-family-title);
    font-size: 4.429rem;
    font-weight: 900;
    text-align: left;
    color: #ffffff;
    line-height: 1.1;
    margin-bottom: 28px;
}

button.get_started_cta_btn {
    position: relative;
    width: 14rem;
    height: 60px;
    margin-bottom: 22px;
    background: var(--color-orange);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.09);
    border-radius: 18px;
    color: #ffffff;
    font-size: 1.143rem;
    font-weight: 700;
    transition: all 0.4s ease-in;
}

button.get_started_cta_btn:hover {
    color: #ffffff;
    background: rgba(237, 125, 49, 0.75);
}

button.get_started_cta_btn {
    position: relative;
    width: 14rem;
    height: 60px;
    margin-bottom: 22px;
    background: var(--color-orange);
    border-radius: 18px;
    color: #ffffff;
    font-size: 1.143rem;
    font-weight: 700;
    margin-right: 20px;
    transition: all 0.4s ease-in;
}

button.get_started_cta_btn:hover {
    color: #ffffff;
    background: rgba(237, 125, 49, 0.75);
}

button.learn_more_cta_btn {
    position: relative;
    width: 14rem;
    height: 60px;
    margin-bottom: 22px;
    background: rgba(255, 255, 255, 0.22);
    border: 1px solid rgba(255, 255, 255, 0.55);
    border-radius: 18px;
    color: #ffffff;
    font-size: 1.143rem;
    font-weight: 700;
    transition: all 0.4s ease-in;
}

button.learn_more_cta_btn:hover {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.38);
}

.carousel-indicators [data-bs-target] {
    height: 8px;
    width: 8px;
    border-radius: 100%;
}

.carousel-indicators {
    display: block;
    bottom: 100px;
    left: 12%;
    text-align: left;
    margin-left: 0;
    z-index: 5;
}

.carousel-indicators [data-bs-target] {margin-right: 8px;}



/* ============= */
/* =========== 3-STEP PROCESS =========== */
/* ============= */

.three_step_process_area {
    display: block;
    position: relative;
    min-height: 575px;
    height: auto;
    background: #fefefe;
    padding-top: 55px;
    padding-bottom: 55px;
}

.section_title_holder.compact {
    width: 58%;
    margin: 0 auto;
}

.three_step_process_outermost {
    padding-top: 85px;
}

.step_circle_holder {
    position: relative;
    margin-bottom: 50px;
    display: inline-block;
    text-align: center;
}

.step_circle {
    position: relative;
    z-index: 3;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 174px;
    height: 174px;
    border-radius: 100%;
    border: 3px solid #fefefe;
    margin-bottom: 24px;
}

.step_circle.step_1 {background: #BACAD0;}
.step_circle.step_2 {background: #6D909B;}
.step_circle.step_3 {background: var(--color-green);}

img.step_icon {
    position: relative;
    height: 54px;
    width: 54px;
    object-fit: contain;
}

p.step_info {
    font-size: 1.286rem;
    font-weight: 500;
    color: var(--color-textgrey);
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.progress_axis {
    display: flex;
    position: absolute;
    top: 217px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 0;
    width: 70rem;
    height: 22px;
    background: linear-gradient(270deg, #285B6C 0%, rgba(217, 217, 217, 0) 100%);
}

.step_arrow_desktop {
    display: block;
    position: absolute;
    top: -100px;
    left: 19rem;
    width: 24rem;
    height: 218px;
    background: url("../img/arrow_desktop.svg") center center no-repeat;
    background-size: cover;
}





/* ============= */
/* =========== AGENCIES AREA (SLIDER) =========== */
/* ============= */

.agencies_area {
    position: relative;
    background: #f9f9f9;
    min-height: 525px;
    height: auto;
    padding-top: 85px;
    padding-bottom: 65px;
}

.section_title_holder h2 {
    font-family: var(--font-family-title);
    color: var(--color-titleblack);
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 16px;
}

span.title_decoration {
    display: inline-block;
    position: relative;
    margin:  0 auto;
    width: 75px;
    height: 4px;
    background: #ED7D31;
    border-radius: 300px;
}

.agencies_slider_holder {
    padding-top: 85px;
}

img.cityseal {
    position: relative;
    height: 100px;
    width: 100%;
    object-fit: contain;
    filter: grayscale(100%) brightness(110%);
    mix-blend-mode: multiply;
}

.slick-dots li.slick-active button:before {color: var(--color-green);}

.slick-dots {
    bottom: -110px;
}

.slick-dots li button:before {
    font-size: 10px;
    transition: all 0.4s ease-in-out;
}





/* ============= */
/* =========== HOW HK HELPS =========== */
/* ============= */

.how_hk_helps_area {
    position: relative;
    background: #fefefe;
    min-height: 830px;
    height: auto;
    padding-top: 85px;
    padding-bottom: 65px;
}

.section_gapmaker {
    margin-bottom: 125px;
}

.help_process_box_holder {
    position: relative;
}

.help_process_box {
    position: relative;
    z-index: 7;
    padding: 0;
    width: 100%;
    height: 430px;
    background: #fefefe;
    box-shadow: 0 18px 68px -25px rgba(0, 0, 0, 0.07);
    border-radius: 30px;
}

.help_process_ghost_frame {
    position: absolute;
    z-index: 2;
    width: 70%;
    height: 300px;
    margin: 0 auto;
    top: -36px;
    left: 0;
    right: 0;
    background: transparent;
    border: 1px dashed #D6D6D6;
    border-radius: 12px;
}

.help_process_title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: -18px;
    margin: 0 auto;
    z-index: 3;
    border-radius: 8px;
    height: 36px;
    width: 13rem;
    text-align: center;
    background: #fefefe;
    border: 1px dashed #D6D6D6;
}

.help_process_title h5 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-green);
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.help_process_box_upper_part {
    position: relative;
    display: flex;
    align-items: center;
    padding: 24px;
    background: #F5FAFB;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    min-height: 195px;
    height: auto;
}

img.help_icon {
    display: block;
    position: relative;
    height: 48px;
    width: 48px;
    object-fit: contain;
    margin-bottom: 8px;
}

.help_icon_and_title_holder h3 {
    font-family: var(--font-family-title);
    color: var(--color-titleblack);
    font-size: 1.4rem;
    font-weight: 800;
    text-align: left;
}

span.help_step_number {
    position: absolute;
    right: 24px;
    font-family: 'Bakbak One', cursive;
    font-size: 13.5rem;
    color: var(--color-titleblack);
    opacity: 0.05;
}

.help_process_box_inner_part {
    position: relative;
    padding: 24px;
}

p.help_process_description {
    font-size: 1.143rem;
    font-weight: 400;
    color: var(--color-textgrey);
    text-align: left;
    max-height: 75px;
    text-overflow: ellipsis;
}

.help_process_box_cta_button_holder {
    position: absolute;
    bottom: -80px;
}

button.help_process_button {
    position: relative;
    width: 13rem;
    height: 48px;
    color: var(--color-orange);
    font-size: 1.1rem;
    font-weight: 600;
    background: rgba(237, 125, 49, 0.02);
    border: 1px solid rgba(237, 125, 49, 0.5);
    border-radius: 14px;
    transition: all 0.4s ease-in-out;
}

button.help_process_button:hover {
    background: var(--color-orange);
    color: #ffffff;
}





/* ============= */
/* =========== SLED STATS AREA =========== */
/* ============= */

.sled_stats_area {
    position: relative;
    background: #F9FCFD;
    min-height: 830px;
    height: auto;
    padding-top: 85px;
    padding-bottom: 0;
}

article.main_section_text {
    padding-top: 34px;
    width: 70%;
    margin: 0 auto;
}

.stats_holder {
    position: relative;
}

.statbox {
    position: relative;
    text-align: center;
}

article.main_section_text p {
    font-size: 1.143rem;
    font-weight: 400;
    color: var(--color-textgrey);
    text-align: center;
}

span.stat_number {
    font-family: 'Bakbak One', cursive;
    color: var(--color-green);
    font-size: 5.7rem;
    text-align: center;
}

span.stat_number.hk_number {color: var(--color-orange);}

p.stat_details {
    color: var(--color-green);
    font-size: 1.7rem;
    line-height: 1.1;
    height: 55px;
    font-weight: 500;
    text-align: center;
}

span.stat_deco_underscore {
    display: inline-block;
    position: relative;
    border-radius: 300px;
    width: 45px;
    height: 4px;
    background: #D2D2D2;
}

.hk_stat_circle_holder {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    top: -80px;
    right: 105px;
    border-radius: 100%;
    background: #FFFFFF;
    box-shadow: 0 1px 85px rgba(40, 91, 108, 0.28);
}

img.statlogo {
    display: flex;
    align-items: center;
    height: 56px;
    width: 100%;
    object-fit: contain;
}

span.orange_arrow {
    position: absolute;
    height: 80px;
    width: 80px;
    left: -76px;
    top: 22px;
    background: url("../img/orange_arrow.png") no-repeat;
    background-size: cover;
}

.stat_exploration_holder_desktop {
    display: block;
}

.stat_exploration_desktop {
    display: block;
    position: relative;
    padding: 0;
    z-index: 3;
    top: 42px;
    min-height: 204px;
    height: auto;
    background: #ffffff;
    box-shadow: 0 4px 144px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.stat_exploration_desktop.greenborder {border-left: 12px solid #A9BDC4;}
.stat_exploration_desktop.orangeborder {border-left: 12px solid #FAD8C2;}

.stat_exploration_holder_mobile {display: none;}

.stat_exploration_mobile {
    display: block;
    position: relative;
    padding: 0;
    z-index: 3;
    top: 42px;
    min-height: 204px;
    height: auto;
    background: #ffffff;
    box-shadow: 0 4px 144px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.stat_exploration_mobile.greenborder {border-left: 12px solid #A9BDC4;}
.stat_exploration_mobile.orangeborder {border-left: 12px solid #FAD8C2;}

article.stat_info_box {
    padding: 26px 22px 18px 26px;
}

article.stat_info_box p {
    font-size: 1.143rem;
    font-weight: 400;
    color: var(--color-textgrey);
    text-align: left;
}





/* ============= */
/* =========== HOMEBUILDERS AREA =========== */
/* ============= */

.homebuilders_area {
    position: relative;
    z-index: 1;
    background: #fefefe;
    min-height: 535px;
    height: auto;
    padding-top: 125px;
    padding-bottom: 65px;
}

.homebuilder_logo_holder {
    display: flex;
    justify-content: center;
    align-content: center;
}

img.homebuilder_logo {
    display: block;
    height: 82px;
    width: 17rem;
    object-fit: contain;
    filter: grayscale(100%) brightness(130%);
    mix-blend-mode: multiply;
}

.section_gapmaker_1 {
    margin-bottom: 75px;
}

.section_gapmaker_2 {
    margin-bottom: 75px;
}





/* ============= */
/* =========== FOOTER =========== */
/* ============= */

.hk_footer {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 565px;
    height: auto;
    padding-top: 65px;
    padding-bottom: 65px;
    background: url("../img/footer_bgd.webp") center center no-repeat;
    background-size: cover;
}

.hk_footer_outermost {
    position: relative;
    display: flex;
    align-items: center;
}

.f_links_holder h6 {
    font-family: var(--font-family-title);
    font-size: 1.114rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-orange);
    padding-left: 0;
    margin-bottom: 12px;
}

ul.f_links {
    padding-left: 0;
}

ul.f_links li {
    list-style-type: none;
    margin-bottom: 8px;
}

ul.f_links li a {
    font-size: 1.071rem;
    font-weight: 400;
    color: #fefefe;
    text-decoration: none;
    transition: all 0.4s ease;
}

ul.f_links li a:hover {
    color: #ababab;
}

hr.f_vertical_separ {
    position: absolute;
    left: 54rem;
    width: 355px;
    background-color: #ececec;
    color: #ececec;
    transform: rotate(-90deg);
}

img.footer_logo {
    display: block;
    height: 83px;
    width: 21rem;
    object-fit: contain;
    margin-bottom: 38px;
}

.contact_details_holder {
    margin-bottom: 34px;
}

.contact_details_holder h6 {
    font-family: var(--font-family-title);
    font-size: 1.114rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-orange);
    padding-left: 0;
    margin-bottom: 12px;
}

.contact_details_holder p {
    font-size: 1.071rem;
    font-weight: 400;
    color: #fefefe;
    text-align: left;
}

.contact_details_holder a {
    position: relative;
    z-index: 2;
    font-size: 1.071rem;
    font-weight: 400;
    color: #fefefe;
    text-decoration: none;
    transition: all 0.4s ease;
}

.contact_details_holder a:hover {
    color: #ababab;
}

.f_postnotes_holder {
    position: absolute;
    z-index: 1;
    bottom: 35px;
}

.f_postnotes_holder small {
    font-size: 1rem;
    font-weight: 400;
    color: #fefefe;
    text-align: left;
}

.f_postnotes_holder small > span {
    color: var(--color-orange);
}


/* ¬¬¬¬¬¬¬¬¬¬¬¬ HOUSING OPPORTUNITIES (INNER PAGE) ¬¬¬¬¬¬¬¬¬¬¬ */


/* ============= */
/* =========== INNER HEADER =========== */
/* ============= */

.hk_header_area_inner {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 330px;
    height: auto;
    text-align: center;
}

.hk_header_area_inner:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.55);
}

.inner_header_title h1 {
    position: relative;
    z-index: 3;
    font-family: var(--font-family-title);
    font-size: 4.429rem;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    line-height: 1.1;
}



/* ============= */
/* =========== OPP TABS AREA =========== */
/* ============= */

.opp_tabs_area {
    display: block;
    position: relative;
    padding-top: 65px;
    padding-bottom: 0;
    min-height: 500px;
    height: auto;
    background: #f9f9f9;
}

.opp_tabs_box_holder {
    position: relative;
}

.opp_tabs_box {
    display: block;
    position: relative;
    top: 80px;
    z-index: 3;
    background: #ffffff;
    width: 65%;
    min-height: 426px;
    margin: 0 auto;
    height: auto;
    box-shadow: 0 21px 112px -4px rgba(0, 0, 0, 0.08);
    border-radius: 0 0 10px 10px;
}

ul.opp_tabs_list {
    position: relative;
    top: -50px;
}

.opp_tab {
    width: 50%;
}

a.opp_link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-family: var(--font-family-title);
    font-weight: 500;
    background: #CDD7DB !important;
    border-radius: 10px 10px 0 0 !important;
}

a.opp_link:hover {
    color: #ffffff;
}

a.opp_link.active {
    height: 70px;
    width: 100%;
    background: var(--color-green) !important;
    border-radius: 10px 10px 0 0 !important;
}

.opp_content_box {
    display: flow-root;
    position: relative;
    padding: 20px 50px 50px 50px;
}

article.main_section_text {
    padding-top: 34px;
    width: 70%;
    margin: 0 auto;
}

article.main_section_text p {
    font-size: 1.143rem;
    font-weight: 400;
    color: var(--color-textgrey);
    text-align: center;
}

.opp_button_holder {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -90px;
    padding-top: 42px;
}

button.opp_button {
    position: relative;
    width: 13rem;
    height: 55px;
    color: var(--color-orange);
    font-size: 1.1rem;
    font-weight: 600;
    background: rgba(237, 125, 49, 0.02);
    border: 1px solid rgba(237, 125, 49, 0.5);
    border-radius: 14px;
    transition: all 0.4s ease-in-out;
}

button.opp_button:hover {
    background: var(--color-orange);
    color: #ffffff;
}





/* ============= */
/* =========== LISTING FILTERS AREA =========== */
/* ============= */

.listing_filters_area {
    display: block;
    position: relative;
    padding-top: 160px;
    padding-bottom: 65px;
    min-height: 430px;
    height: auto;
    background: #fefefe;
}

label.hk_filter_lbl {
    display: block;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 400;
    color: #333;
}

.second_filter_outermost {
    padding-top: 12px;
}

.opp_search_input {
    position: relative;
    background: #f5f5f5;
    border-radius: 10px;
    height: 50px;
    border: none !important;
    padding-left: 8px;
    font-size: 1rem;
    font-weight: 500;
    color: #464646;
}

.opp_search_input:focus {
    background: #f5f5f5;
    border: none !important;
    box-shadow: none !important;
}

.hk_form_group {
    position: relative;
}

button.searcher {
    position: absolute;
    right: 5px;
    top: 34px;
    border: none;
    background: #f5f5f5;
}

button.searcher i {
    font-size: 1.6rem;
    color: #999999;
}





/* ============= */
/* =========== HOUSE LISTING MAIN AREA =========== */
/* ============= */

.house_listing_main_area {
    display: block;
    position: relative;
    padding-top: 16px;
    padding-bottom: 65px;
    min-height: 1000px;
    height: auto;
    background: #fefefe;
}

.opp_card_holder {
    margin-bottom: 90px;
}

.opp_card {
    position: relative;
    display: block;
    padding: 0;
    background: #ffffff;
    border-radius: 10px;
    min-height: 955px;
    height: auto;
    box-shadow: 0 6px 46px -14px rgba(0, 0, 0, 0.25);
}

.opp_house_image_holder {
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.opp_house_image_holder::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Adjust the opacity as needed */
    z-index: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

img.opp_house {
    width: 100%;
    height: 350px;
    position: relative;
    z-index: 0;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.uppermost_title_stripe {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 70px;
    background: rgba(38, 38, 38, 0.79);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.uppermost_title_stripe h2 {
    font-family: var(--font-family-title);
    font-weight: 500;
    font-size: 1.1rem;
    color: #ffffff;
    margin-bottom: 0;
    text-align: center;
}

.opp_label_holder {
    position: absolute;
    left: 14px;
    top: 86px;
    z-index: 3;
}

span.opp_label {
    font-family: var(--font-family-title);
    font-size: 0.77rem;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    border-radius: 145px;
    background: var(--color-orange);
    padding: 5px;
}

.action_mini_buttons_holder {
    position: absolute;
    right: 14px;
    top: 86px;
    z-index: 3;
}

ul.action_mini_buttons li {
    list-style-type: none;
    float: left;
    margin-right: 12px;
}

ul.action_mini_buttons li:last-child {margin-right: 0;}

ul.action_mini_buttons li a {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 24px;
    width: 24px;
    text-decoration: none;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.25);
    transition: all 0.4s ease-in-out;
}

ul.action_mini_buttons li a > i {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #ffffff;
}

.opp_card_inner_content {
    padding: 12px 16px 24px 16px;
}

ul.option_icons {
    position: relative;
    padding-left: 0;
}

ul.option_icons li {
    list-style-type: none;
    text-align: center;
    display: block;
    margin-right: 20px;
    float: left;
}

ul.option_icons li:last-child {
    margin-right: 0;
}

img.optionicon {
    display: inline-block;
    text-align: center;
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-bottom: 4px;
}

small.option_info {
    font-family: var(--font-family-title);
    color: #666666;
    font-size: 0.6rem;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
}

.price_holder h2 {
    position: relative;
    top: 4px;
    color: var(--color-green);
    font-weight: 800;
    font-size: 1.8rem;
}

hr.subtle_separator {
    color: #d2d2d2;
}


h4.opp_card_address {
    font-size: 1.2rem;
    color: #464646;
    text-align: center;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.program_data_holder a {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: #999999;
    text-align: center;
    margin-bottom: 4px;
    transition: all 0.4s ease-in-out;
}

.program_data_holder a:hover {
    color: var(--color-orange);
}

.inportant_details_title_holder {
    position: relative;
    margin-bottom: 18px;
    padding-top: 14px;
}

.inportant_details_title_holder h4 {
    font-family: var(--font-family-title);
    color: var(--color-green);
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

.infoline {
    margin-bottom: 1px;
}

.info_ttl {
    padding-left: 12px;
}

.info_ttl p {
    font-family: var(--font-family-title);
    font-size: 0.8rem;
    font-weight: 800;
    color: #464646;
    text-align: left;
}

.info_details p {
    font-family: var(--font-family-title);
    font-size: 0.8rem;
    font-weight: 400;
    color: #666666;
    text-align: right;
}

.drawing_button_holder {
    padding-top: 12px;
    margin-bottom: 4px;
}

button.drawing_btn {
    position: relative;
    width: 14rem;
    height: 55px;
    margin-bottom: 1px;
    background: var(--color-orange);
    border-radius: 14px;
    color: #ffffff;
    font-size: 1.143rem;
    font-weight: 700;
    transition: all 0.4s ease-in;
}

button.drawing_btn:hover {
    color: #ffffff;
    background: rgba(237, 125, 49, 0.75);
}

.alert_notification_holder {
    padding-top: 1px;
}

span.alert_icon {
    display: inline-block;
    position: relative;
    top: 6px;
    width: 24px;
    height: 24px;
    background: url("../img/alert.png") center center no-repeat;
    background-size: contain;
    margin-right: 4px;
}

.alert_notification_holder small {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--color-green);
}

.load_more_button_holder {
    padding-top: 2px;
    padding-bottom: 22px;
}

button.load_more_btn {
    position: relative;
    width: 14rem;
    height: 50px;
    border: 1px solid rgba(102, 102, 102, 0.26);
    border-radius: 14px;
    background: rgba(102, 102, 102, 0.05);
    color: #666666;
    font-size: 1.143rem;
    font-weight: 500;
    transition: all 0.4s ease-in;
}

button.load_more_btn:hover {
    color: #ffffff;
    background: rgba(102, 102, 102, 1);
}



/* ¬¬¬¬¬¬¬¬¬¬¬¬ HK FILE CABINET (DASHBOARD) ¬¬¬¬¬¬¬¬¬¬¬ */


/* ============= */
/* =========== DASHBOARD HEADER =========== */
/* ============= */

button.nav_help_btn {
    position: relative;
    top: -3px;
    width: 9rem;
    height: 48px;
    border: 1px solid rgba(102, 102, 102, 0.26);
    border-radius: 14px;
    background: rgba(102, 102, 102, 0.05);
    color: #666666;
    font-size: 1.143rem;
    font-weight: 500;
    transition: all 0.4s ease-in;
}

button.nav_help_btn:hover {
    color: #666666;
    border: 1px solid rgba(102, 102, 102, 0.26);
    background: rgba(102, 102, 102, 0.11);
}

button.nav_signout_btn {
    position: relative;
    top: -3px;
    width: 10rem;
    height: 48px;
    background: var(--color-textgrey);
    border-radius: 14px;
    color: #ffffff;
    font-size: 1.143rem;
    font-weight: 500;
    transition: all 0.4s ease-in;
}

button.nav_signout_btn:hover {
    color: #ffffff;
    background: #999999;
}

.hk_header_area_dashboard {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 200px;
    height: auto;
    text-align: center;
}

.hk_header_area_dashboard:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.05);
}

.inner_header_dashboard_title h1 {
    position: relative;
    z-index: 3;
    font-family: var(--font-family-title);
    font-size: 2.7rem;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    line-height: 1.1;
}

.fc_search_area {
    position: relative;
    min-height: 270px;
    height: auto;
    background: #f4f4f4;
    padding-top: 55px;
    padding-bottom: 55px;
}

.fc_search_input {
    position: relative;
    background: #ffffff;
    border-radius: 6px;
    height: 55px;
    border: 1px solid #DFDFDF;
    padding-left: 14px;
    font-size: 1rem;
    font-weight: 500;
    color: #464646;
}

.fc_search_input:focus {
    background: #ffffff;
    border: 1px solid #DFDFDF !important;
    box-shadow: none !important;
}

button.fc_searcher {
    position: absolute;
    right: 5px;
    top: 37px;
    border: none;
    background: #ffffff;
}

button.fc_searcher i {
    font-size: 1.6rem;
    color: var(--color-green);
    background: transparent;
}

#fileCabinetSearch::placeholder {
    color: #999999;
    font-weight: 100;
}

.fc_search_area_buttons_holder {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

button.fc_search_upload_btn {
    position: relative;
    width: 13rem;
    height: 55px;
    margin-bottom: 22px;
    background: var(--color-orange);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.09);
    border-radius: 14px;
    margin-right: 22px;
    color: #ffffff;
    font-size: 1.143rem;
    font-weight: 700;
    transition: all 0.4s ease-in;
}

button.fc_search_upload_btn:hover {
    color: #ffffff;
    background: rgba(237, 125, 49, 0.75);
}

button.fc_search_upload_btn i {
    color: #ffffff;
}

button.fc_search_newfolder_btn {
    position: relative;
    width: 13rem;
    height: 55px;
    margin-bottom: 22px;
    background: var(--color-green);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.09);
    border-radius: 14px;
    color: #ffffff;
    font-size: 1.143rem;
    font-weight: 700;
    transition: all 0.4s ease-in;
}

button.fc_search_newfolder_btn:hover {
    color: #ffffff;
    background: rgba(24, 55, 65, 0.83);
}

button.fc_search_newfolder_btn i {
    color: #ffffff;
}

.fc_main_area {
    position: relative;
    min-height: 999px;
    height: auto;
    padding-top: 65px;
    padding-bottom: 65px;
    background: #fefefe;
}

li.nav-item.fc_nav_item > a {
    color: #999999 !important;
}

li.nav-item.fc_nav_item > a.active {
    color: #474747 !important;
}

li.nav-item.fc_nav_item > a:after {
    height: 0 !important;
}

.fc_navtabs_holder {
    display: flex;
}

.nav-underline .nav-link {
    border-bottom-color: rgba(153, 153, 153, 0.46) !important;
    border-bottom: 4px solid;
}

.nav-underline .nav-link.active, .nav-underline .show > .nav-link {
    border-bottom-color: var(--color-orange) !important;
    border-bottom: 4px solid;
}

.uploader_box_holder {
    padding-top: 45px;
    padding-bottom: 45px;
}

.drag_upload_box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(40, 91, 108, 0.03);
    border: 1px dashed #285B6C;
    border-radius: 16px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    height: 250px;
}

#upload-file-container {
    padding-top: 0;
}

#upload-file-container input {
    filter: alpha(opacity=0);
    opacity: 0;
    height: 250px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    overflow: hidden;
}

#upload-file-container p {
    font-size: 1.22rem;
    font-weight: 500;
    color: var(--color-green);
}

span.upld {
    display: block;
    height: 52px;
    width: 52px;
    margin: 0 auto;
    background: url(../img/upload.svg) center center no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 21px;
}

.frequent_folders_area {
    padding-top: 75px;
    margin-bottom: 100px;
}

.fc_subtitle_holder {
    padding-left: 0;
}

h2.fc_subtitle {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    padding-left: 0;
    color: #666666;
    margin-bottom: 24px;
}

.freq_folder_box_holder {
    text-decoration: none !important;
    padding-left: 0;
}

.freq_folder_box {
    background: #f4f4f4;
    border-radius: 6px;
    height: 60px;
    display: flex;
    align-content: center;
    align-items: center;
    padding-left: 16px;
}

span.folder_icon {
    display: block;
    margin-right: 14px;
}

span.folder_icon i {
    color: var(--color-green);
    font-size: 1.9rem;
}

p.freq_folder_title {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: #0C0C0C;
    text-align: left;
    margin-bottom: 0;
}

p.freq_folder_file_number {
    display: block;
    font-size: 0.8rem;
    font-weight: 400;
    color: #999999;
    text-align: left;
    margin-bottom: 0;
    text-decoration: none !important;
}

.aux_outermost {
    padding-top: 20px;
}

.new_folder_button_holder {
    padding-left: 0;
}

.viewall_link_holder {
    padding-top: 30px;
    padding-left: 0;
    margin-bottom: 90px;
}

a.fc_viewall {
    padding-left: 0;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-green);
    text-align: left;
    transition: all 0.4s ease;
}

a.fc_viewall:hover {
    text-decoration: none;
    color: rgba(22, 60, 73, 0.8)
}

.all_files_area {
    position: relative;
    margin-bottom: 120px;
}

.fc_subtitle_and_action_buttons_holder {
    padding-left: 0;
}

.fc_tab_content {
    border-top: 1px solid #eaeaea;
}

button.fc_action_btn_filter_search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 46px;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 14px;
    background: #FBFBFB;
    border: 1px solid #E0E0E0;
    margin-right: 14px;
    transition: all 0.4s ease;
    color: #999999;
    float: left;
}

button.fc_action_btn_filter_search:hover {
    background: #efefef;
    border: 1px solid #E0E0E0;
    color: #999999;
}

button.fc_action_btn_download {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 46px;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 14px;
    background: var(--color-green);
    margin-right: 14px;
    transition: all 0.4s ease;
    color: #ffffff;
    float: left;
}

button.fc_action_btn_download:hover {
    background: rgba(22, 60, 73, 0.8);
    color: #ffffff;
}

button.fc_action_btn_delete {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 46px;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 14px;
    background: #A4161A;
    margin-right: 14px;
    transition: all 0.4s ease;
    color: #ffffff;
    float: left;
}

button.fc_action_btn_delete:hover {
    background: rgba(164, 22, 26, 0.8);
    color: #ffffff;
}

button.fc_action_btn_move {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 46px;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 14px;
    background: #ed7d31;
    margin-right: 14px;
    transition: all 0.4s ease;
    color: #ffffff;
    float: left;
}

button.fc_action_btn_move:hover {
    background: rgba(237, 125, 49, 0.84);
    color: #ffffff;
}

button.fc_action_btn_copy {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 46px;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 14px;
    background: #AD9BAA;
    margin-right: 14px;
    transition: all 0.4s ease;
    color: #ffffff;
    float: left;
}

button.fc_action_btn_copy:hover {
    background: rgba(173, 155, 170, 0.85);
    color: #ffffff;
}

span.buttonicon {
    display: inline-flex;
    height: 18px;
    width: 18px;
    position: relative;
    margin-right: 4px;
}

span.buttonicon.filter {background: url("../img/btn_icon_filter.svg") no-repeat; background-size: contain;}
span.buttonicon.download {background: url("../img/btn_icon_download.svg") no-repeat; background-size: contain;}
span.buttonicon.delete {background: url("../img/btn_icon_delete.svg") no-repeat; background-size: contain;}
span.buttonicon.move {background: url("../img/btn_icon_move.svg") no-repeat; background-size: contain;}
span.buttonicon.copy {background: url("../img/btn_icon_copy.svg") no-repeat; background-size: contain;}

.fc_table_holder {
    padding-top: 50px;
    padding-left: 0;
}

img.filetype {
    position: relative;
    top: 4px;
    width: 30px;
    height: 30px;
    object-fit: contain;
}

p.fc_table_txt {
    font-weight: 400;
    font-size: 1rem;
    color: #373737;
    padding-top: 7px;
    margin-bottom: 0;
}

span.fc_tag {
    font-weight: 400;
    display: inline-block;
    font-size: 1rem;
    color: var(--color-green);
    padding-top: 7px;
    margin-bottom: 0;
}

a.fc_trippledot_link {
    position: relative;
    top: 8px;
    color: #666666;
    text-decoration: none !important;
}

.flexwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

h2.fc_subtitle.floated {
    margin-right: 22px;
    float: left;
}

.fc_action_buttons_holder {
    position: relative;
    top: -8px;
}

.fc_table_checkbox_form {
    position: relative;
    top: -10px;
}

label.l3l {
    font-weight: 400;
    line-height: 2.6;
    font-size: 0.8rem;
    color: #888;
    text-indent: 8px;
}

/* Base for label styling */
input.t3t[type="checkbox"]:not(:checked),
input.t3t[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
input.t3t[type="checkbox"]:not(:checked) + label,
input.t3t[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}

/* checkbox aspect */
input.t3t:not(:checked) + label:before,
input.t3t:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 22px; height: 22px;
    border: 1px solid #aaa;
    background: #f8f8f8;
    border-radius: 3px;
}
/* checked mark aspect */
input.t3t:not(:checked) + label:after,
input.t3t:checked + label:after {
    font-family: "FontAwesome";
    content: '\f00c';
    position: absolute;
    top: 6px;
    left: -6px;
    font-size: 18px;
    line-height: 0.8;
    color: var(--color-orange);
    transition: all .2s;
}
/* checked mark aspect changes */
input.t3t:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
input.t3t:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
input.t3t:disabled:not(:checked) + label:before,
input.t3t:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
input.t3t:disabled:checked + label:after {
    color: #999;
}
input.t3t:disabled + label {
    color: #aaa;
}

.activity_log_area {
    margin-bottom: 120px;
}

p.mostrecent {
    position: relative;
    top: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #666666;
    text-align: left;
}

p.mostrecent span {
    color: var(--color-orange);
}

td.activity_td {
    padding-top: 14px;
}

p.fc_activity_table_txt {
    font-weight: 400;
    font-size: 1rem;
    color: #373737;
    padding-top: 7px;
    margin-bottom: 0;
}

small.company_name {
    font-weight: 200;
    color: #999999;
}

p.fc_activity_table_txt span {
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-green);
    padding-top: 7px;
    margin-bottom: 0;
}

.fc_activity_accordion {
    display: block;
    position: absolute;
    width: 65rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
}

.fc_activity_button {
    box-shadow: none !important;
    background-color: #666666 !important;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    color: #ffffff !important;
    font-weight: 500;
}

.fc_activity_item {
    border: none !important;
    box-shadow: -17px 0 100px -40px rgba(0, 0, 0, 0.3);
}

.accordion-body {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.accordion {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-active-icon);
    transform: var(--bs-accordion-btn-icon-transform);
    position: relative;
    right: 45px;
    display: inline-block;
    z-index: 1;
}
.accordion-button.collapsed::after {
    background-image: var(--bs-accordion-btn-active-icon);
    position: relative;
    right: 45px;
    transform: translateY(-50%);
    display: inline-block;
    z-index: 1;
    top: 10px;
}

button.close-accordion {
    position: absolute;
    z-index: 3;
    right: 20px;
    top: 4px;
    border: none;
    background: none;
}

span.close_acc {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("../img/closeacc.svg") no-repeat;
    background-size: contain;
}

small.filename {
    position: relative;
    top: 7px;
    font-size: 1.055rem;
    color: #666666;
}

img.filetype_activity {
    position: relative;
    top: 4px;
    width: 26px;
    height: 26px;
    object-fit: contain;
    margin-right: 8px;
}

.activity_status_icon_holder {
    position: relative;
    top: 8px;
}

.activity_status_icon i {
    position: relative;
    font-size: 1.1rem;
    color: #4398B5;
}

.accordion-body.fc_activity_accordion_body {
    min-height: 100px;
    height: auto;
}

.tag_input {
    position: relative;
    background: #F9F9F9;
    border-radius: 4px;
    height: 42px;
    width: 99%;
    border: 1px solid #CACACA;
    padding-left: 12px;
    font-size: 1rem;
    font-weight: 500;
    color: #464646;
}

.tag_input:focus {
    background: #F9F9F9;
    border: 1px solid #CACACA;
    box-shadow: none !important;
}

.tag_input::placeholder {
    color: #999999;
    font-weight: 100;
}

.modal-header.fc_modal_header {
    display: inline-block;
    height: 46px;
    text-align: center;
    border-bottom: none;
}

.modal-header.fc_modal_header.create {background: #D7E0E3;}
.modal-header.fc_modal_header.delete {background: #F2E0E0;}
.modal-header.fc_modal_header.copy {background: #F5F3F5;}
.modal-header.fc_modal_header.move {background: #FCEBDF;}

h1.modal-title.fc_modal_ttl.create {color: var(--color-green);}
h1.modal-title.fc_modal_ttl.delete {color: #A4161A;}
h1.modal-title.fc_modal_ttl.copy {color: #AD9BAA;}
h1.modal-title.fc_modal_ttl.move {color: var(--color-orange);}

h1.modal-title.fc_modal_ttl {
    position: relative;
    top: -5px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 800;
    text-align: center;
}

.fc_modal_close {
    position: absolute;
    right: 10px;
    top: 15px;
    box-shadow: none;
}

label.fc_modal_label {
    position: relative;
    font-size: 0.6rem;
    font-weight: 900;
    margin-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #666666;
    padding-left: 0;
}

.fc_modal_input {
    position: relative;
    background: #f5f5f5;
    border-radius: 10px;
    height: 50px;
    border: none !important;
    padding-left: 8px;
    font-size: 1rem;
    font-weight: 500;
    color: #464646;
}

.fc_modal_input:focus {
    background: #f5f5f5;
    border: none !important;
    box-shadow: none !important;
}

#folderName::placeholder {
    color: #999999;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 100;
}

.modal-dialog.fc_modal_dialog {
    max-width: 45%;
}

.modal-content.fc_modal_content {
    width: 100%;
}

.modal-body.fc_modal_body {
    min-height: 190px;
    height: auto;
    padding: 26px 24px 24px 24px;
}

.modal-footer.fc_modal_footer {
    border-top: none;
    display: flex;
    justify-content: center;
}

button.modal_cancel_btn {
    position: relative;
    width: 13rem;
    height: 55px;
    margin-bottom: 22px;
    background: rgba(153, 153, 153, 0.11);
    border: 1px solid rgba(153, 153, 153, 0.9);
    border-radius: 14px;
    color: #999999;
    font-size: 1.143rem;
    font-weight: 700;
    transition: all 0.4s ease-in;
}

button.modal_cancel_btn:hover {
    color: #999999;
    background: rgba(153, 153, 153, 0.16);
}

button.modal_create_btn {
    position: relative;
    width: 13rem;
    height: 55px;
    margin-bottom: 22px;
    background: var(--color-green);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.09);
    border-radius: 14px;
    color: #ffffff;
    font-size: 1.143rem;
    font-weight: 700;
    transition: all 0.4s ease-in;
}

button.modal_create_btn:hover {
    color: #ffffff;
    background: rgba(24, 55, 65, 0.83);
}

button.modal_delete_btn {
    position: relative;
    width: 13rem;
    height: 55px;
    margin-bottom: 22px;
    background: #A4161A;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.09);
    border-radius: 14px;
    color: #ffffff;
    font-size: 1.143rem;
    font-weight: 700;
    transition: all 0.4s ease-in;
}

button.modal_delete_btn:hover {
    color: #ffffff;
    background: rgba(164, 22, 26, 0.8);
}

button.modal_copy_btn {
    position: relative;
    width: 13rem;
    height: 55px;
    margin-bottom: 22px;
    background: #AD9BAA;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.09);
    border-radius: 14px;
    color: #ffffff;
    font-size: 1.143rem;
    font-weight: 700;
    transition: all 0.4s ease-in;
}

button.modal_copy_btn:hover {
    color: #ffffff;
    background: rgba(173, 155, 170, 0.75);
}

button.modal_move_btn {
    position: relative;
    width: 13rem;
    height: 55px;
    margin-bottom: 22px;
    background: var(--color-orange);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.09);
    border-radius: 14px;
    color: #ffffff;
    font-size: 1.143rem;
    font-weight: 700;
    transition: all 0.4s ease-in;
}

button.modal_move_btn:hover {
    color: #ffffff;
    background: rgba(237, 125, 49, 0.82);
}

.deleted_files_holder {
    text-align: center;
}

.warning_txt_holder {
    padding-top: 12px;
}

.warning_txt_holder p {
    font-size: 1.07rem;
    font-weight: 600;
    color: #666666;
    text-align: center;
}

.copy_folder_option {
    background: #FBFBFB;
    border: 1px solid #D9D9D9;
    display: grid;
    height: 130px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.copy_folder_option.selected {
    background: #999999;
}

img.folderbox {
    width: 50px;
    height: 50px;
    object-fit: contain;
    text-align: center;
    margin: 0 auto;
}

img.folderbox.selected {
    filter: brightness(800%);
}

h6.copy_folder_option_title {
    font-size: 1rem;
    color: #666666;
    text-align: center;
    margin-top: 12px;
}

h6.copy_folder_option_title.selected {
    color: #ffffff;
}

label.fc_selector_lbl {
    position: relative;
    font-size: 0.6rem;
    font-weight: 900;
    margin-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #666666;
    padding-left: 0;
}

label.fc_selector_lbl span {
    color: #DB4655;
}

.fc_dropdown_form_holder {
    padding-top: 28px;
    padding-bottom: 18px;
}

form.fc_dropdown_form {
    margin-bottom: 16px;
}

.fc_breadcrumb_holder {
    padding-top: 32px;
}

.fc_breadcrumb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32px;
    background: #EDF1F2;
    border-radius: 100px;
}

.fc_breadcrumb small {
    color: var(--color-green);
    font-size: 0.9rem;
    font-weight: 300;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}





/* ============= */
/* ===========  FILTER SEARCH =========== */
/* ============= */

.filter_search_area {
    position: relative;
    min-height: 999px;
    height: auto;
    padding-top: 65px;
    padding-bottom: 70px;
    background: #fefefe;
}

.filter_conditions_holder {
    padding-top: 55px;
    padding-left: 0;
}

.filter_conditions_holder h5 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--color-green);
    text-align: left;
    padding-left: 0;
    margin-bottom: 28px;
}

.search_condition_frame {
    position: relative;
    min-height: 95px;
    height: auto;
    width: 100%;
    display: flex;
    padding-left: 22px;
    align-items: center;
    margin-bottom: 24px;
    border: 1px dashed #285B6C;
    border-radius: 20px;
}

button.remove_condition {
    background: transparent;
    border: none !important;
    box-shadow: none !important;
    position: absolute;
    right: 12px;
}

button.remove_condition i {
    color: #999999;
    font-size: 1.3rem;
}

.filter_search_dropdown_form {
    position: relative;
    top: -10px;
    margin-right: 12px;
}

.cond_switch_holder {
    margin-bottom: 22px;
}

.toggle {
    position: relative;
    --width: 55px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);

    display: inline-block;
    cursor: pointer;
}

.toggle__input {
    display: none;
}

.toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: #dddddd;
    transition: background 0.2s;
}

.toggle__fill::after {
    content: "";
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
    background: var(--color-green);
}

.toggle__input:checked ~ .toggle__fill::after {
    transform: translateX(var(--height));
}

span.cond_and {
    font-size: 0.6rem;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    z-index: 9;
    top: 7px;
    left: 5px;
}

span.cond_or {
    font-size: 0.6rem;
    font-weight: 700;
    color: var(--color-green);
    position: absolute;
    z-index: 9;
    top: 8px;
    right: 8px;
}

.add_condition_holder {
    padding-top: 32px;
}

button.add_condition_btn {
    font-size: 1.1rem;
    padding-left: 0;
    font-weight: 500;
    color: var(--color-green);
    transition: all 0.4s ease-in-out;
}

button.add_condition_btn i {
    color: var(--color-green);
    font-size: 1.3rem;
    margin-right: 4px;
}

button.add_condition_btn:hover {
    color: var(--color-green);
    opacity: 0.8;
}

button.reset_filter_btn {
    position: relative;
    width: 13rem;
    height: 55px;
    margin-bottom: 22px;
    background: rgba(153, 153, 153, 0.11);
    border: 1px solid rgba(153, 153, 153, 0.9);
    border-radius: 14px;
    margin-right: 12px;
    color: #999999;
    font-size: 1.143rem;
    font-weight: 700;
    transition: all 0.4s ease-in;
}

button.reset_filter_btn:hover {
    color: #999999;
    background: rgba(153, 153, 153, 0.16);
}

button.apply_filter_btn {
    position: relative;
    width: 13rem;
    height: 55px;
    margin-bottom: 22px;
    background: var(--color-green);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.09);
    border-radius: 14px;
    color: #ffffff;
    font-size: 1.143rem;
    font-weight: 700;
    transition: all 0.4s ease-in;
}

button.apply_filter_btn:hover {
    color: #ffffff;
    background: rgba(24, 55, 65, 0.83);
}

.condition_buttons_holder {
    position: relative;
    float: right;
    top: -45px;
}







