/* ğ™¼ğšğšğš’ğšŠ ğš€ğšğšğš›ğš’ğšğšœ */


/* General + Nav */






/* ==================== */
/* Header */
/* ==================== */

@media screen and (min-width: 1400px) {
    .h_banner_home {width: 80%;}
}